CONFIG_PATH=./config/config.yaml

ENVIRONMENT=dev

POSTGRES_DSN=postgres://postgres:rasik1234@localhost:5432/bugsy?sslmode=disable
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_USER=
REDIS_PASSWORD=
REDIS_DB=0
NATS_DSN=nats://localhost:4222


SMS_CLIENT_PASSWORD=bJwwe5@B!mdZ3Bz
SMS_CLIENT_LOGIN=dbagsy25
DEV_SMS_CHAT_ID=-1002972795928
DEV_SMS_BOT_TOKEN=8469035421:AAGQY8GtUTFDPWCgvWxWAe75SU3m5crD8x0

JWT_SECRET=secret

SWAGGER_HOST=localhost
SWAGGER_SCHEME=http