ENVIRONMENT=[dev, stage, prod]

CONFIG_PATH=./config/config.yaml

POSTGRES_DSN=*****

REDIS_HOST=*****
REDIS_PORT=*****
REDIS_USER=*****
REDIS_PASSWORD=*****
REDIS_DB=*****


SMS_CLIENT_LOGIN=*****
SMS_CLIENT_PASSWORD=*****

DEV_SMS_BOT_TOKEN=*****
DEV_SMS_CHAT_ID=*****


WHATSAPP_API_URL=*****
WHATSAPP_MEDIA_URL=*****
WHATSAPP_API_ID_INSTANCE=*****
WHATSAPP_API_TOKEN=*****


AWS_REGION=*****
AWS_ACCESS_KEY_ID=*****
AWS_SECRET_ACCESS_KEY=*****
AWS_S3_BUCKET_NAME=*****
AWS_S3_ENDPOINT=***** # Опционально, для MinIO или LocalStack


JWT_SECRET=*****
JWT_ISSUER=*****

SWAGGER_HOST=*****
SWAGGER_SCHEME=*****
